<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="1.2.0" targetFramework="net46" />
  <package id="Castle.DynamicProxy" version="2.2.0" targetFramework="net46" />
  <package id="log4net" version="1.2.10" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
  <package id="NLog" version="1.0.0.505" targetFramework="net46" />
</packages>